<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Books Api</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style media="screen">
    * {
      box-sizing: border-box;
    }

    table {
      background-color: green;
      border-radius: 5px;
    }

    tr,
    td,
    th {
      border-spacing: 6px;
      border: 3px solid yellow;
    }

    td {
      text-align: center;
      background-color: white;
    }

    .left {
      width: 50%;
      float: left;
      padding-top: 2%;
      padding-left: 5%;
    }

    .right {
      width: 50%;
      float: right;
      padding: 2%;
    }
  </style>
</head>

<body>
  <h3 style="text-align:center">Book Database Query</h3>
  <div class="left">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Search Book By Name</div>
      <div class="card-body">
        <label for="bookName">Name:</label>
        <input type="text" required id='name' name="bookName" placeholder="bookName">
        <input type="submit" value="GetBooks" onclick="getByName()">
      </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Search Book By Rent</div>
      <div class="card-body">
        <label for="rentPerDay">Rent:</label>
        <input type="text" required id='rent' name="rentPerDay" placeholder="rent">
        <input type="submit" value="GetBooks" onclick="getByRent()">
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Search Book By Rent,Category,Name</div>
      <div class="card-body">
        <label for="rentPerDay">Rent:</label>
        <input type="text" required name="rentPerDay" id='arent' placeholder="rent">
        <label for="bookName">Name:</label>
        <input type="text" required name="bookName" id='aname' placeholder="bookName">
        <label for="category">Cat:</label>
        <input type="text" required name="category" id='acat' placeholder="category">
        <input type="submit" value="GetBooks" onclick="getByRentCatName()">
      </div>
    </div>


  </div>
  <div class="right">
    <table>
      <thead>
        <tr>
          <th>BookName</th>
          <th>Category</th>
          <th>RentPerDay</th>
        </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    HOST = 'http://3.110.120.239:4000/'


    var params = {
      method: "POST",
      credentials: "include",
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    }

    function parseData(res) {
      res.json().then((data) => {
        var innerText = ``
        for (let i in data) {
          name = data[i]['bookName'];
          rent = data[i]['rentPerDay'];
          category = data[i]['category'];
          innerText += `<tr>
                <td>${name}</td>
                <td>${category}</td>
                <td>${rent}</td>
                </tr>`
        }
        if (innerText === '') {
          innerText = '<h3>No such data exist</h3>'
        }
        document.getElementById('tbody').innerHTML = innerText;
      })

    }

    function getByName() {
      var book = document.getElementById('name').value
      params['body'] = JSON.stringify({
          bookName: book
        }),
        fetch(`${HOST}getByName`, params)
        .then((res) => {
          parseData(res);
        })
        .catch((err) => {
          alert("Error is " + err);
        })
    }

    function getByRent() {
      var rent = document.getElementById('rent').value;
      params['body'] = JSON.stringify({
          rentPerDay: rent
        }),
        fetch(`${HOST}getByRent`, params)
        .then((res) => {
          parseData(res);
        })
        .catch((err) => {
          alert("Error is " + err);
        })
    }

    function getByRentCatName() {
      var name = document.getElementById('aname').value;
      var rent = document.getElementById('arent').value;
      var cat = document.getElementById('acat').value;
      params['body'] = JSON.stringify({
          bookName: name,
          rentPerDay: rent,
          category: cat
        }),
        fetch(`${HOST}getByNameRentCategory`, params)
        .then((res) => {
          parseData(res);
        })
        .catch((err) => {
          alert("Error is " + err);
        })
    }
  </script>

</body>

</html>